*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #383095, #3C1A4E);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    display: flex;
    box-shadow: 0px 4px 52px rgba(0,0,0,0.66);
    flex-direction: column;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.input-box{
    font-size: 24px;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
    margin: .5rem 0;
    position: relative;
    font-family: "Inter";
    transition: .25s ease;
}

.input-box:focus{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.login-container #login-title{
    font-size: 48px;
    position: relative;
    margin-bottom: 2rem;
    color: rgba(0,0,0,0.75);
    font-weight: 400;
    font-family: "Poppins";
}

.login-container #login-title::after{
    content: "";
    width: 57px;
    height: 11px;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    left: 0;
    background: linear-gradient(45deg, #383095, #3C1A4E);
}

.button{
    width: 100%;
    cursor: pointer;
    color: white;
    font-family: "Inter";
    font-size: 24px;
    padding: 10px;
    transition: .5s ease;
    border: 0;
    margin: 1rem 0;
    border-radius: 5px;
}

.button.sign-in{
    background: linear-gradient(45deg, #383095, #3C1A4E);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.45);
}

.button.sign-in:hover{
    transform: translateY(-3.5px);
    background: linear-gradient(45deg, #3C1A4E, #383095);
}

.button.facebook-button{
    background: #253571;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
}

.button.facebook-button img, .button.google-button img{
    margin: 0 1rem;
}

.button.facebook-button:hover{
    background: #191c3d;
}

.button.google-button{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.45);
    color: #282828;
    display: flex;
    align-items: center;
}

.button.google-button:hover{
    background: #b2b5d1;
}

#sign-up{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #0057ff;
    transition: .25s ease;
    font-family: "Inter";
}

#sign-up:hover{
    color: #0e40a5;
}

@media (max-width: 2560px){
    .login-container{
        width: 100%;
        height: 70vh;
        justify-content: center;
        max-width: 1000px;
    }

    .input-box{
        font-size: 36px;
        padding: 25px;
        font-weight: 600;
        width: 100%;
    }

    .login-container #login-title{
        font-size: 86px;
    }

    .login-container #login-title::after{
        width: 100px;
    }

    .input-field{
        margin: 2rem 0;
    }

    .button{
        padding: 20px;
        font-weight: 600;
        font-size: 48px;
        box-shadow: 0px 8px 12px black;
    }

    #sign-up{
        font-size: 42px;
        margin: 1rem 0;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 1.5rem;
        width: 82px;
        height: 82px;
    }
}

@media (max-width: 1440px){
    .login-container{
        width: 100%;
        height: 90vh;
        justify-content: center;
        max-width: 800px;
    }

    .input-box{
        font-size: 36px;
        padding: 10px;
        color: rgba(0,0,0,0.75);
        font-weight: 600;
        margin: 0rem 0;
        width: 100%;
    }

    .login-container #login-title{
        font-size: 56px;
        margin-bottom: 0;
    }

    .login-container #login-title::after{
        width: 65px;
    }

    .button{
        padding: 10px;
        font-weight: 600;
        font-size: 24px;
        box-shadow: 0px 8px 12px black;
    }

    #sign-up{
        font-size: 24px;
        margin: .25rem 0;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 1.5rem;
        width: 46px;
        height: 46px;
    }
}

@media (max-width: 1366px){
    .login-container{
        max-width: 550px;
    }

    .login-container #login-title{
        margin-bottom: 0;
        font-size: 48px;
    }

    .login-container #login-title::After{
        width: 55px;
        height: 9px;
    }

    .input-box{
        font-size: 20px;
    }
    
    #sign-up{
        font-size: 18px;
    }

    .input-field:nth-child(1){
        margin-bottom: 15px;
    }

    .input-field:nth-child(2){
        margin-top: 0;
        margin-bottom: 5px;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 1.5rem;
        width: 32px;
        height: 32px;
    }

    .social-media-buttons{
        margin-top: 16px;
    }

}

@media (max-width: 1024px){
    .login-container{
        width: 100%;
        height: 80vh;
        justify-content: center;
        max-width: 500px;
    }

    .input-box{
        font-size: 16px;
        padding: 10px;
        color: rgba(0,0,0,0.75);
        font-weight: 600;
        margin: 0rem 0;
        width: 100%;
    }

    .login-container #login-title{
        font-size: 48px;
        margin-bottom: 1rem;
    }

    .login-container #login-title::after{
        width: 52px;
        height: 9px;
    }

    form .input-field:nth-child(1){
        margin-bottom: 1.5rem;
    }

    form .input-field:nth-child(2){
        margin-bottom: 1rem;
        margin-top: .5rem;
    }

    .button{
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        box-shadow: 0px 8px 12px black;
    }

    #sign-up{
        font-size: 1.1rem;
        margin-bottom: .2rem;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 1.5rem;
        width: 24px;
        height: 24px;
    }

    .social-media-buttons{
        margin-top: 1rem;
    }
}

@media (max-width: 768px){
    .login-container{
        max-width: 475px;
    }

    .social-media-buttons{
        margin-top: 0;
    }

    .login-container #login-title{
        margin-bottom: 0;
    }

    form .input-field:nth-child(1){
        margin-bottom: 0;
    }

    form .input-field:nth-child(2){
        margin-bottom: 0;
    }

    #sign-up{
        font-size: .9rem;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 .75rem;
        width: 24px;
        height: 24px;
    }

}

@media (max-width: 425px){
    .login-container{
        max-width: 350px;
    }

    .login-container #login-title{
        font-size: 42px;
        margin-top: 5px;
    }

    .login-container #login-title::after{
        height: 6px;
        width: 45px;
    }
}

@media (max-width: 375px){
    .login-container{
        max-width: 325px;
    }

    .login-container #login-title{
        font-size: 36px;
        margin-top: 10px;
    }

    .login-container #login-title::after{
        height: 6px;
        width: 40px;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 .75rem;
        width: 24px;
        height: 24px;
    }

}

@media (max-width: 320px){
    .login-container{
        max-width: 275px;
    }

    .login-container #login-title{
        font-size: 36px;
        margin-top: 10px;
    }

    .login-container #login-title::after{
        height: 6px;
        width: 40px;
    }

    .button.facebook-button{
        font-size: 12px;
    }

    .button.google-button{
        font-size: 12px;
    }

    .button.facebook-button img, .button.google-button img{
        margin: 0 .75rem;
        width: 24px;
        height: 24px;
    }
}